.input {
  width: 100%;
  height: 4rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-top: .05rem solid var(--ThreeColor);
}

.input .text {
  width: 100%;
  padding: .2rem .5rem;
  color: var(--FourColor);
  background: transparent;
  border-bottom: .05rem solid var(--ThreeColor);
}

.input .text::placeholder {
  color: var(--TwoColor);
  font-size: .8rem;
}

.input .btn {
  padding: .3rem .5rem;
  color: var(--ThreeColor);
  background: var(--TwoColor);
  border-radius: .5rem .2rem;
  cursor: pointer;
  transition: all .3s ease;
}

.input .btn:hover {
  color: var(--TwoColor);
  background: var(--FourColor);
}

@media screen and (max-width: 426px) {
  .input {
    padding: .5rem;
    gap: .5rem;
  }
  .input .text {
    font-size: .8rem;
  }
  .input .text::placeholder {
    font-size: .7rem;
  }
  .input .btn {
    font-size: .7rem;
    padding: .2rem .4rem;
  }
}
